.all_wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1280px;
	height: 960px;
	-webkit-transition: all .6s;
    -webkit-transition-timing-function: ease-in-out;
	transition: all .6s;
    transition-timing-function: ease-in-out;
	transform: translate(-640px);
}
/* ラッパー */
.smcount_wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 640px;
	margin: 0;
	padding: 0;
	color: white;
	font-family: メイリオ, sans-serif;
	font-weight: bold;
	font-size : 24px;
	text-align: center;
}
.smcount_wrapper * {
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
.st_eta {
	left: 0px;
}
.smcount_wrapper {
	left: 640px;
}
/* ボタン全般 */
.smcount_button {
	z-index: 999;
	display: inline-block;
	margin: 0;
	padding: 0;
	border: none;
	text-decoration: none;
	background: #1491da;
	color: #FFF;
	border-radius: 3px;
	font-family: Arial, メイリオ, sans-serif;
	font-size : 40px;
	font-weight: bold;
	text-align: left;
	width: 200px;
	height: 65px;
	border-radius: 30px;
	transform: scale(1);
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	cursor: pointer;
}
/* 進み･戻しボタンラッパー */
.smcount_kasoku_wrapper {
	position: relative;
	left: 0;
	top: 0;
	width: 640px;
    margin: 30px 0 0;
}
/* 進み･戻しボタン */
.smcount_button_kasoku {
    position: relative;
    margin-right: 10px;
    left: 0;
    top: 0;
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    border-radius: 50%;
    background-color: #da5414;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}
.smcount_button_kasoku.prev {
    transform: scale(1) rotate(180deg);
}
.smcount_button_kasoku.next1 {
	background-image: url(./images/smcount_next1.png);
}
.smcount_button_kasoku.next2 {
	background-image: url(./images/smcount_next2.png);
}
.smcount_button_kasoku.next3 {
	background-image: url(./images/smcount_next3.png);
}
.smcount_button_kasoku.next2 {
	transform: scale(0.8);
}
.smcount_button_kasoku.next2.prev {
	transform: scale(0.8) rotate(180deg);
}
.smcount_button_kasoku.next3 {
	transform: scale(0.6) translate(-30px);
}
.smcount_button_kasoku.next3.prev {
	transform: scale(0.6) translate(30px) rotate(180deg);
}
.smcount_button_kasoku:last-child {
    margin-right: 0px;
}
.smcount_button_active {
	transform: scale(1.1);
}
.smcount_button_active.prev {
    transform: scale(1.1) rotate(180deg);
}
.smcount_button_kasoku.next3 {
	display: none;
}

/* スタートボタン */
.smcount_button_start {
	position: absolute;
	left: 470px;
	top: 50px;
	text-align: center;
    font-size: 24px;
    line-height: 110px;
	width: 110px;
	height: 110px;
	border-radius: 50%;
}
/* キャンバス */
.smcount_canvas {
	position: relative;
	display: inline-block;
    left: 0px;
    top: 0px;
    margin: 90px 0 -10px;
    width: 260px;
    height: 260px;
    border-radius: 50%;
	background: rgba(255, 255, 255, 0);
}
/* Wave数ラッパー */
.smcount_wave_wrapper {
    margin: 0 0 0;
	position: relative;
	left: 160px;
	top: 0px;
	width: 300px;
	height: 80px;
}
/* Wave数 */
.smcount_wave {
    position: absolute;
    left: 0px;
    top: 20px;
    text-align: left;
    width: 150px;
    font-size: 40px;
}
.smcount_wave_span {
	font-size: 50px;
}
/* 残り秒数 */
.smcount_sec {
    position: absolute;
    left: 150px;
    top: 0px;
    text-align: right;
    font-size: 70px;
    width: 150px;
}
/* デバッグエリア */
.smcount_debug {
    position: absolute;
    left: 320px;
    top: 650px;
    text-align: right;
    width: 300px;
}
/* セッティングラッパー */
.smcount_setting_wrapper {
    margin: 25px 0 0;
	position: relative;
	left: 70px;
	top: 0px;
	width: 500px;
	height: 210px;
	background: rgba(255, 255, 255, 0)
}
.smcount_setting_item {
	position :relative;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	height: 68px;
}
.smcount_setting_item:first-child {
	border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.smcount_setting_item p {
	position: absolute;
	left: 0px;
	top:  0px;
	font-size: 20px;
}
.smcount_wrapper .input_st+label {
    top: 10px;
}
.smcount_wrapper .input_st+label p {
	font-size: 20px;
    left: -400px;
    top: -8px;
    text-align: left;
}

.smcount_setting_button_wrapper {
	position: absolute;
	width: 500px;
	text-align: right;
}

.smcount_setting_button {
	display: inline-block;
	margin-left: 8px;
	width: 96px;
	height: 48px;
	border-radius: 24px;
	background: #3498db;
	position: relative;
	top: 8px;
	line-height: 48px;
	text-align: center;
	-webkit-transition: all .2s;
	transition: all .2s;
	overflow: hidden;
	cursor: pointer;
	transform: scale(1);
	opacity: 1;
}
.smcount_setting_button.no_select {
	opacity: 0.5;
	transform: scale(0.8);
	cursor: pointer;
}
.smcount_setting_norma {
	cursor: initial;
	font-size: 20px;
}
.smcount_setting_norma_span,
.smcount_setting_volume_span {
	color: Orange;
}
/* hidden */
.smcount_button_kasoku.prev.smcount_hidden {
    transform: scale(0) rotate(180deg);
}
.smcount_button.smcount_hidden {
	transform: scale(0);
}
.smcount_hidden {
	transform: scale(0);
}

/* トランスレートボタン */
.smcount_translate {
    position: absolute;
    top: 260px;
    text-align: center;
    font-size: 24px;
    line-height: 80px;
    width: 60px;
    height: 300px;
    border-radius: 0;
    background: none;
    color: #5f1001;
    background-size: 30px;
    background-repeat: no-repeat;
    opacity: 0.6;
}
.translate_right {
	border-right: 4px solid white;
    background-position: 30px center;
    background-image: url(./images/smcount_next.png);
	left: 576px;
}
.translate_left {
	border-left: 4px solid white;
    background-position: 0px center;
    background-image: url(./images/smcount_prev.png);
	left: 640px;
}