/* リセット */
body, div, p, select, canvas, video {
  margin: 0;
  padding: 0;
}
body {
  color: #fff;
  background-color: #222;
  overflow: hidden;
  font-family: sans-serif;
}
select {
  color: #fff;
  width: 16em;
  height: 1.7em;
  display: inline-blcok;
  background-color: #444;
}
canvas,
video {
  border: none;
  background-color: #111;
}
video {
  filter: contrast(1.2);
  width: 1280px;
  height: 720px;
}
button {
  background-color: #555;
  border: 1px solid #aaa;
  color: #fff;
  height: 1.7em;
  cursor: pointer;
}
button:active {
  background-color: #333;
  color: #ddd;
}
a {
  color: #ccc;
}
li {
  margin-bottom: 1em;
}



#cover {
  background-color: #222;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  opacity: 1;
  transition: opacity 300ms ease;
	display: flex;
  align-items: center;
  justify-content: center;
}



#sync-video-wrapper {
  margin-bottom: 1em;
  position: relative;
}
  #sync-video-wrapper #sync-video {
  }
  #sync-video-wrapper #debug-variable {
    right: 0;
    top: 180px;
    display: inline-block;
    position: absolute;
    background: rgba(0, 0, 0, .6);
    color: rgba(255, 255, 255, .8);
    pointer-events: none;
    padding: 1em;
  }



#option-wrapper {
}
  #option-wrapper div {
    margin: 0.5em 0 0.5em 0;
  }
  #option-wrapper .env {
    font-size: 90%;
    color: #ccc;
  }
    #option-wrapper .input-title {
    }
    #option-wrapper .input-id-title {
      color: #aaa;
      font-size: 0.8em;
    }



#debug {
  display: none;
}
  #canvas {
    width: 640px;
    height: 360px;
  }



#materials,
#materials * {
  display: none;
}




.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #222;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}