/*reset css */
@import url("font.css");
.message0_fore {
    z-index: 1000;
}
.message_outer {
    opacity: 0.85;
}
.suimyaku {
    display: none;
}
.bakudan {
    display: none;
}
.ika2 {
    display: none;
}
.komori_circle {
    display: none;
}
.kotae {
    display: none;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td{
    padding:0;
    margin:0;
}
table{
    border-collapse: collapse;
    border-spacing:0;
}
fieldset,img{
    border:0;
}
address,caption,cite,code,dfn,em,strong,th,var{
    font-weight:normal;
    font-style:normal;
}
ol,ul{
    list-style:none;
}
caption,th{
    text-align:left;
}
h1,h2,h3,h4,h5,h6{
    font-weight:normal;
    font-size:100%;
}
q:before,q:after{
    content:'';
}
abbr,acronym{
    border:0;
}


/*smart novel original css */

.vertical_text{

    font-family:'@ＭＳ 明朝';
    /*color:white;*/
    writing-mode:tb-rl;
    writing-mode:vertical-rl ;
    -webkit-writing-mode:vertical-rl ;
    float:right;
    height:100%;

}


.layer_menu {
    display:none;
    font-size:1.3em;
    font-weight:bold;
    position:absolute;
    width:100%;
    height:100%;
}



/*メニュ－ボタン系*/
.menu_item {position:relative;margin-top:3%;text-align:center;cursor:pointer}
.menu_item img {width:auto;max-width:80%;max-height:10%;}
.display_menu .button:first-child {margin-top:0;}
.display_menu{
    overflow:visible;padding:0;
    z-index: 10000;
    width:100%;
    height:100%;
    position: absolute;
    display:block;
    /*overflow:visible;padding:2%;display:table-cell;vertical-align:middle*/
}

/* セーブ時の画面の設定
--------------------------*/
/* セーブデータリスト全体の設定 */
.save_list {
	display: table;
	table-layout: fixed;
	width: 70%;
	height:76px;
	font-size: 14px;
	font-weight: normal;
	border-top: 1px dotted #CCC;
}

/* セーブデータの設定 */
.save_list_item {
	display: table-row;
	cursor: pointer;
}

/* セーブデータのサムネイル部分の設定 */
.save_list_item_thumb {
	display: table-cell;
	width: 96px;
	height:72px;
	padding-top:5px;
	padding-left:10px;
	border-bottom: 1px dotted #CCC;

}

.save_list_item_thumb img {
	width: 96px;
	height: 72px;
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* セーブデータのテキスト部文の設定 */
.save_list_item_area {
	display: table-cell;
	vertical-align: top;
	padding: 0 10px;
	border-bottom: 1px dotted #CCC;
}
/* セーブデータの日付の設定 */
.save_list_item_date {
	display: block;
	padding: 5px 0;
	line-height: 1;
	color:#48D1CC;
}
/* セーブデータのテキストの設定 */
.save_list_item_text {
	display: block;
	line-height: 1.3;
	height: 48px;
	overflow: hidden;
	color:#666;
}



.layer_event_click{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

.layer{
	background-size:100% 100%;
}

.button_menu{
    position:absolute;
    z-index:99999;
    top:20px;
    cursor:pointer;
}

/*
 CSSを修正することで、ゲーム画面をカスタマイズすることが可能です
 * */

/*ゲーム枠の外側の色を指定します*/

body{
    background-color:black;
    -webkit-tap-highlight-color: transparent;
    overflow:hidden;

}

/*次へのクリックを促すアイコン*/

.img_next{
    padding-left:3px;
}

/*テキストボックスの共通スタイル*/
.text_box{

}

.tyrano_base{

    font-family: メイリオ, sans-serif;

    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
   
}

/* button 
---------------------------------------------- */
.glink_button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 1em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.glink_button:hover {
	text-decoration: none;
}
.glink_button:active {
	position: relative;
	top: 1px;
}


.button_graphic {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	/*margin: 0 2px;*/
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	
	padding: 1em 2em 1em;
	color:white;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	
	
}
.button_graphic:hover {
	text-decoration: none;
}
.button_graphic:active {
	position: relative;
	top: 1px;
}



.bigrounded {
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}
.medium {
	font-size: 12px;
	padding: .4em 1.5em .42em;
}
.small {
	font-size: 11px;
	padding: .2em 1em .275em;
}

/* color styles 
---------------------------------------------- */

.myblack {
	color: #d7d7d7;
	border: solid 1px #333;
    background: #515151;
    background: -moz-linear-gradient(top, #515151 0%, #000000 33%, #000000 93%, #333333 100%);
    background: -webkit-linear-gradient(top, #515151 0%,#000000 33%,#000000 93%,#333333 100%);
    background: linear-gradient(to bottom, #515151 0%,#000000 33%,#000000 93%,#333333 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#515151', endColorstr='#333333',GradientType=0 );
}

/* black */
.tsujo {
	color: #d7d7d7;
    border: solid 1px #333;
    background: #45484d; /* Old browsers */
    background: -moz-linear-gradient(top, #45484d 0%, #000000 24%, #005da5 63%, #005da5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #45484d 0%,#000000 24%,#005da5 63%,#005da5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #45484d 0%,#000000 24%,#005da5 63%,#005da5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#005da5',GradientType=0 ); /* IE6-9 */
}

.shake {
    background-image: url(./images/system/sentaku.png);
    background-size: 100% 100%;
    box-shadow: initial;
    color: White;
    padding-top: 44px;
    box-sizing: border-box;
    font-weight: bold;
}

.shake2 {
	line-height: 170%;
    background-image: url(./images/system/sentaku2.png);
    background-size: 100% 100%;
    box-shadow: initial;
    color: White;
    padding-top: 44px;
    box-sizing: border-box;
    font-weight: bold;
}
.mancho {
	color: #d7d7d7;
	border: solid 1px #333;
background: #45484d; /* Old browsers */
background: -moz-linear-gradient(top, #45484d 0%, #000000 2%, #005da5 32%, #005da5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #45484d 0%,#000000 2%,#005da5 32%,#005da5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #45484d 0%,#000000 2%,#005da5 32%,#005da5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#005da5',GradientType=0 ); /* IE6-9 */
}
.kancho {
	color: #d7d7d7;
	border: solid 1px #333;
background: #45484d; /* Old browsers */
background: -moz-linear-gradient(top, #45484d 0%, #000000 62%, #005da5 93%, #005da5 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #45484d 0%,#000000 62%,#005da5 93%,#005da5 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #45484d 0%,#000000 62%,#005da5 93%,#005da5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#005da5',GradientType=0 ); /* IE6-9 */
}
.black {
	color: #d7d7d7;
	border: solid 1px #333;
	background: #333;
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
	background: -moz-linear-gradient(top,  #666,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
.black:hover {
	background: #000;
	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
	background: -moz-linear-gradient(top,  #444,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}
.black:active {
	color: #666;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
	background: -moz-linear-gradient(top,  #000,  #444);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');
}

/* gray */
.gray {
	color: #e9e9e9;
	border: solid 1px #555;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
	background: -moz-linear-gradient(top,  #888,  #575757);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
.gray:hover {
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
	background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
.gray:active {
	color: #afafaf;
	background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
	background: -moz-linear-gradient(top,  #575757,  #888);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}

/* white */
.white {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

/* orange */
.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

/* red */
.red {
	color: #faddde;
	border: solid 1px #980c10;
	background: #d81b21;
	background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
	background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.red:hover {
	background: #b61318;
	background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
	background: -moz-linear-gradient(top,  #c9151b,  #a11115);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}
.red:active {
	color: #de898c;
	background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
	background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
}

/* blue */
.blue {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}

/* rosy */
.rosy {
	color: #fae7e9;
	border: solid 1px #b73948;
	background: #da5867;
	background: -webkit-gradient(linear, left top, left bottom, from(#f16c7c), to(#bf404f));
	background: -moz-linear-gradient(top,  #f16c7c,  #bf404f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16c7c', endColorstr='#bf404f');
}
.rosy:hover {
	background: #ba4b58;
	background: -webkit-gradient(linear, left top, left bottom, from(#cf5d6a), to(#a53845));
	background: -moz-linear-gradient(top,  #cf5d6a,  #a53845);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf5d6a', endColorstr='#a53845');
}
.rosy:active {
	color: #dca4ab;
	background: -webkit-gradient(linear, left top, left bottom, from(#bf404f), to(#f16c7c));
	background: -moz-linear-gradient(top,  #bf404f,  #f16c7c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf404f', endColorstr='#f16c7c');
}

/* green */
.green {
	color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.green:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.green:active {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}

/* pink */
.pink {
	color: #feeef5;
	border: solid 1px #d2729e;
	background: #f895c2;
	background: -webkit-gradient(linear, left top, left bottom, from(#feb1d3), to(#f171ab));
	background: -moz-linear-gradient(top,  #feb1d3,  #f171ab);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#feb1d3', endColorstr='#f171ab');
}
.pink:hover {
	background: #d57ea5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f4aacb), to(#e86ca4));
	background: -moz-linear-gradient(top,  #f4aacb,  #e86ca4);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4aacb', endColorstr='#e86ca4');
}
.pink:active {
	color: #f3c3d9;
	background: -webkit-gradient(linear, left top, left bottom, from(#f171ab), to(#feb1d3));
	background: -moz-linear-gradient(top,  #f171ab,  #feb1d3);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f171ab', endColorstr='#feb1d3');
}

/* 反転 */
.reflect{
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
	filter: FlipH;
}

/*ダイアログボックス*/
#alertify{
    z-index:9999999;
}





/*            */
/* 固定ボタン */
/*            */
.panel {
	filter: brightness(50%);
	background-color: black;
	background-size: 100%;
	background-image: none;
    position: absolute;
    cursor: pointer;
    z-index: 99999999;
    display: inline;
    left: 0px;
    top: 0px;
    width: 160px;
}
.panel_now {
	filter: brightness(100%);
	background-image: url(images/panel.png);
}
.hidden {
	display: none;
}
.fix_sonota_item {
	z-index: 99999999 ! important;
}
.fix_sonota_tab {
	z-index: 100000000 ! important;
}





/*            */
/* シフト確認 */
/*            */
.salmon_rotation_wrapper {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: auto;
	color: White;
	font-weight: bold;
}
.salmon_rotation_title {
	font-size: 30px;
	text-align: center;
	width: 600px;
	padding: 0px 24px;
	margin: 0;
	color: #73DD73;
	text-shadow: black 4px 4px 4px;
	display: none;
}
.salmon_rotation {
	position: relative;
	margin: 10px 20px 40px;
	padding: 0;
	width: 600px;
	height: 272px;
	background-color: Black;
	background-image: url(images/rotation_bg.png);
	background-size: 100%;
	background-repeat: none;
	border-radius: 35px;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 5px;
}
.salmon_rotation * {
	padding: 0;
	margin: 0;
}
.salmon_rotation_time {
	position: absolute;
	top: 20px;
	left: 92px;
	font-size: 26px;
}
.salmon_rotation_stage {
	width: 220px;
	height: 123px;
	position: absolute;
	top: 90px;
	left: 32px;
	border-radius: 20px;
}
.salmon_rotation_stage_name {
	position: absolute;
	top: 224px;
	left: 32px;
	text-align: center;
	width: 220px;
	font-size: 16px;
}
.salmon_rotation_weapon_title {
	position: absolute;
	top: 100px;
	left: 277px;
	font-size: 20px;
}
.salmon_rotation_weapons {
	position: absolute;
	top: 140px;
	left: 277px;
}
.salmon_rotation_weapons img {
	width: 68px;
	height: 68px;
	margin-right: 5px;
}
.rotation_yobi {
	font-size: 70%;
	margin-left: -6px;
	display: inline-block;
	transform: translate(0px, -1px);
}
.rotation_eval_button {
	color: #fd5f5f;
	background: #5f1001;
	font-weight: bold;
	border-radius: 20px;
}
.rotation_eval_button:hover {
	background: #9a250f;
}
.html_space {
	width: 100%;
	height: 100%;
}
.canvas_chart_wrapper {
	position: absolute;
	top: 275px;
	left: 130px;
	width: 400px;
	height: 400px;
	background-image: url(images/canvas_chart_bg.png);
	background-size: 100%;
	
	animation-name: myFadeIn;
	animation-duration: 1.5s;
	animation-fill-mode: both;
}
.canvas_chart {
	width: 100%;
	height: 100%;
	display: block;
	filter: drop-shadow(4px 4px 6px rgba(0,0,0,0.5));
}
.chart_point_title {
	color: white;
	font-weight: bold;
	font-size: 24px;
	position: absolute;
	top: 309px;
	left: 326px;
	display: block;
}
.eval_score_commnt {
	filter: drop-shadow(4px 4px 6px rgba(0,0,0,0.5));
	position: absolute;
	top: 721px;
	left: 0px;
	width: 640px;
	text-align: center;
	color: #f9ff00;
	font-weight: bold;
	font-size: 30px;
	
	animation-name: myFadeInUp;
	animation-delay: 2.5s;
	animation-duration: 1.5s;
	animation-fill-mode: both;
}
.eval_score {
	filter: drop-shadow(4px 4px 6px rgba(0,0,0,0.5));
	position: absolute;
	top: 660px;
	left: 149px;
	color: #f9ff00;
	font-weight: bold;
	font-size: 40px;
	line-height: 40px;
	border-bottom: 8px solid #f9ff00;
	
	animation-name: myFadeInUp;
	animation-delay: 1.5s;
	animation-duration: 1.5s;
	animation-fill-mode: both;
}
.eval_score_2 {
	font-size: 170%;
}
.button_cover {
    position: absolute;
    z-index: 199999999;
    display: inline;
    left: 0px;
    top: 840px;
    width: 960px;
    height: 120px;
}
.eval_fukidashi {
    position: absolute;
    left: 0px;
    top: 300px;
    width: 640px;
    height: 440px;
    background-image: url(images/fukidashi.png);
    background-size: 100%;
    box-sizing: border-box;
    padding: 50px 110px 20px;
    color: White;
    font-size: 20px;
    font-weight: bold;
	animation-name: myFadeIn;
	animation-duration: 800ms;
	animation-fill-mode: both;
}
.eval_fukidashi p {
	animation-name: myFadeInUp;
	animation-duration: 1500ms;
	animation-fill-mode: both;
    margin-bottom: 20px;
}
.eval_fukidashi b {
	color: Orange;
}
.eval_ika {
    position: absolute;
    left: 410px;
    top: 600px;
	animation-name: myFadeIn;
	animation-duration: 800ms;
	animation-fill-mode: both;
}
.eval_next_button {
    color: #606a21;
    background: #fffc00;
    font-weight: bold;
    border-radius: 34px;
	animation-name: myFadeIn;
	animation-duration: 400ms;
	animation-fill-mode: both;
}





.credit_wrapper {
	position: absolute;
	top: 90px;
	left: 0px;
	width: 640px;
	margin: 0;
	padding: 0;
	color: white;
	font-family: メイリオ, sans-serif;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}
	.credit_button {
	    color: #5f1001;
	    background: White;
	    font-weight: bold;
	    border-radius: 34px;
	}
	.credit h1 {
		font-size: 40px;
		margin: 20px 0px 40px;
		font-weight: bold;
	}
	.credit h2 {
		color: Orange;
	    font-size: 20px;
	    font-weight: bold;
	    margin: 20px 0px 10px;
	}
	.credit a {
		color: White;
	}
	.credit b {
		color: Orange;
	}
	.credit {
	    position: absolute;
	    left: 0px;
	    top: 190px;
	    width: 640px;
	}
	.about {
		line-height: 150%;
	}
	.author {
		line-height: 150%;
	}





/*              */
/* 個別ブキ評価 */
/*              */
.weapon_menu {
	position: absolute;
    top: 15px;
    left: 65px;
    width: 510px;
    height: 84px;
    box-sizing: border-box;
    padding: 8px 20px;
	background-image: url(../data/bgimage/shimashima.png);
	background-repeat: no-repeat;
	border-radius: 20px;
    text-align: center;
}
.weapon_menu img {
    width: 66px;
    height: 66px;
    cursor: pointer;
    margin: 0px 13px;
}
.weapon_comment_wrapper {
	position: absolute;
    top: 465px;
    left: 65px;
    width: 510px;
    height: 340px;
    box-sizing: border-box;
    padding: 14px 30px;
	background-image: url(../data/bgimage/shimashima.png);
	background-repeat: no-repeat;
	border-radius: 20px;
    text-align: left;
    font-weight: normal;
    font-size: 18px;
    color: White;
}
.weapon_comment_a {
	display: inline-block;
}
.weapon_comment_b {
    font-size: 80%;
    font-weight: bold;
    color: orange;
}
.weapon_comment_c {
	
}
.weapon_comment_wrapper h1 {
    text-align: center;
    font-weight: bold;
    margin: 0 0 8px;
    padding: 0;
    font-size: 24px;
    color: Orange;
}
.weapon_comment_wrapper p {
    margin: 0;
    padding: 0;
}
.canvas_chart_weapon_wrapper {
	position: absolute;
	top: 115px;
	left: 295px;
	width: 320px;
	height: 320px;
	background-image: url(./images/canvas_chart_bg.png);
	background-size: 100%;
	background-repeat: no-repeat;
	
	animation-name: myFadeIn;
	animation-duration: 1.5s;
	animation-fill-mode: both;
}
.canvas_chart_weapon {
	width: 100%;
	height: 100%;
	display: block;
	filter: drop-shadow(4px 4px 6px rgba(0,0,0,0.5));
}

.weapon_image {
	position: absolute;
	top: 160px;
	left: 70px;
	display: inline-block;
	width: 180px;
	height: 180px;
	background-size: 100%;
	background-repeat: no-repeat;
	-webkit-box-reflect: below 2px -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(0.5, transparent), to(rgba(0,0,0,0.4)));
}
.weapon_image_shadow {
	position: absolute;
	display: block;
	width: 100%;
	top: 99%;
}










/*           */
/* keyframes */
/*           */
@keyframes myFadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes myFadeInUp {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}





/*         */
/* remodal */
/*         */
.remodal {
	border-radius: 20px;
	font-size: 24px;
	font-family: メイリオ, sans-serif;
}
.remodal h1 {
	font-weight: bold;
}
.remodal b {
	color: DarkOrange;
}
.remodal-confirm {
	border-radius: 10px;
}
.remodal-overlay {
	background-color: rgba(0, 0, 0, 0.5);
}














/*            */
/* STタイマー */
/*            */
.st_eta,
.st_description {
	position: absolute;
	top: 90px;
	left: 0px;
	width: 640px;
	margin: 0;
	padding: 0;
	color: white;
	font-family: メイリオ, sans-serif;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}
.st_description {
	top: 200px;
}
.st_description h1 {
	font-size: 40px;
	margin-bottom: 20px;
	font-weight: bold;
}
.st_description b {
	color: Orange;
}
.st_eta_canvas {
	margin-top: 50px;
	display: inline-block;
}
.st_eta_description {
	font-size: 20px;
}
.st_eta_count {
	font-size: 50px;
	margin-top: 10px;
}
.st_eta_correction {
	font-size: 16px;
	margin: 18px 0;
}
.st_eta_sound_desc {
	margin-top: 45px;
	display: none;
	color: Orange;
	margin: 18px 0;
}
.st_eta_next {
}
.st_friend_mode {
}
.stfest_duration {
	position: absolute;
	top: 640px;
	display: none;
	left: 0px;
	width: 640px;
	font-size: 16px;
	opacity: 0.6;
}
.STFest {
    color: white;
	text-shadow: 1px 1px 1px #777,  0px  0px 3px #777,
	            -1px 1px 1px #777,  2px  0px 3px #777,
	             0px 1px 1px #777,  1px  0px 3px #777,
	            -1px 0px 1px #777,  2px  1px 3px #777;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: serif;
	/*
	box-shadow: 3px 3px 3px #777;
    box-sizing: border-box;
    border-radius: 50%;
    */
    vertical-align: middle;
    padding-top: 23px;
    line-height: 90%;
}
.credit_emaame {
	position: absolute;
	top: 700px;
	left: 0px;
	width: 640px;
	font-size: 16px;
	opacity: 0.6;
}
.credit_emaame a {
	color: white;
	text-decoration: none;
}
.st_glink_button {
    color: #5f1001;
    background: White;
    font-weight: bold;
    border-radius: 34px;
}
.input_st_wrapper {
	position: absolute;
	top: 400px;
	left: 0px;
    text-shadow: none;
}
.input_st_item:first-child {
	border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.input_st_item {
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	margin: 0;
	padding: 10px 0;
	position: relative;
	left: 70px;
	width: 500px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	text-align: left;
}
.input_st+label .button {
  z-index: 10;
  display: block;
  width: 60px;
  height: 40px;
  border-radius: 20px;
  background: #3498db;
  position: absolute;
  top: 4px;
  line-height: 40px;
  text-align: center;
  -webkit-transition: all .2s;
  transition: all .2s;
  overflow: hidden;
  cursor: pointer;
	transform: scale(1);
}
.input_st+label .button_active {
	transform: scale(1.1);
}
.input_st+label .sound_test_button {
  width: 100px;
  left: -150px;
}
.input_st+label .plus_button {
  left: -90px;
}
.input_st+label .minus_button {
  left: -170px;
}
.input_st+label .hidden_button {
  transform: scale(0);
}

.input_st {
  display: none;
	font-family: Arial, sans-serif;
	font-size: 18px;
}
.input_st+label,
.input_st+label::before,
.input_st+label::after {
  -webkit-transition: all .2s;
  transition: all .2s;
}
.input_st+label {
  display: block;
  position: relative;
  left: 400px;
  width: 100px;
  height: 48px;
  border-radius: 24px;
  cursor: pointer;
}
.input_st+label p {
  position: absolute;
  top: -6px;
  left: -400px;
  width: 200px;
  z-index: 0;
  margin: 18px 0;
}
.input_st+label::before {
  display: block;
  content: attr(data-off-label);
  position: absolute;
  top: 14px;
  right: 7px;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 18px;
}
.input_st+label::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
}
.input_st:checked+label::before {
  content: attr(data-on-label);
  left: 7px;
  right: auto;
  color: #fff;
}
.input_st:checked+label::after {
  left: 56px;
  background-color: #f7f7f7;
}
.input_st+label {
  background-color: #eee;
}
.input_st+label::before {
  color: #aaa;
}
.input_st:checked+label {
  background-color: #3498db;
}
.input_st:checked+label::before {
  color: #fff;
}





/*         */
/* SMcount */
/*         */
.all_wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1280px;
	height: 960px;
	-webkit-transition: all .6s;
    -webkit-transition-timing-function: ease-in-out;
	transition: all .6s;
    transition-timing-function: ease-in-out;
	transform: translate(-640px);
}
/* ラッパー */
.smcount_wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 640px;
	margin: 0;
	padding: 0;
	color: white;
	font-family: メイリオ, sans-serif;
	font-weight: bold;
	font-size : 24px;
	text-align: center;
}
.smcount_wrapper * {
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
.st_eta {
	left: 0px;
}
.smcount_wrapper {
	left: 640px;
}
/* ボタン全般 */
.smcount_button {
	z-index: 999;
	display: inline-block;
	margin: 0;
	padding: 0;
	border: none;
	text-decoration: none;
	background: #1491da;
	color: #FFF;
	border-radius: 3px;
	font-family: Arial, メイリオ, sans-serif;
	font-size : 40px;
	font-weight: bold;
	text-align: left;
	width: 200px;
	height: 65px;
	border-radius: 30px;
	transform: scale(1);
	-webkit-transition: transform 0.2s;
	transition: transform 0.2s;
	cursor: pointer;
}
/* 進み･戻しボタンラッパー */
.smcount_kasoku_wrapper {
	position: relative;
	left: 0;
	top: 0;
	width: 640px;
    margin: 10px 0 0;
}
/* 進み･戻しボタン */
.smcount_button_kasoku {
    position: relative;
    /* margin-right: 12px; */
    margin: 0 20px;
    left: 0;
    top: 0;
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    border-radius: 50%;
    background-color: #da5414;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}
.smcount_button_kasoku.prev {
    transform: scale(1) rotate(180deg);
}
.smcount_button_kasoku.next1 {
	background-image: url(./images/smcount_next1.png);
}
.smcount_button_kasoku.next2 {
	background-image: url(./images/smcount_next2.png);
}
.smcount_button_kasoku.next3 {
	background-image: url(./images/smcount_next3.png);
}
.smcount_button_kasoku.next2 {
	transform: scale(0.8) translate(-10px);
}
.smcount_button_kasoku.next2.prev {
	transform: scale(0.8) translate(10px) rotate(180deg);
}
.smcount_button_kasoku.next3 {
	transform: scale(0.6) translate(-55px);
}
.smcount_button_kasoku.next3.prev {
	transform: scale(0.6) translate(55px) rotate(180deg);
}
.smcount_button_kasoku:last-child {
    margin-right: 0px;
}
.smcount_button_active {
	transform: scale(1.1);
}
.smcount_button_active.prev {
    transform: scale(1.1) rotate(180deg);
}
.smcount_button_kasoku.next3 {
	display: none;
}
.smcount_caution {
    position: absolute;
    top: 500px;
    font-size: 15px;
    text-align: center;
    width: 640px;
    color: #ff8a53;
}
/* スタートボタン */
.smcount_button_start {
    position: absolute;
    left: 190px;
    top: 190px;
    text-align: center;
    width: 260px;
    height: 260px;
    font-size: 50px;
    line-height: 260px;
    border-radius: 50%;
    background: #da5414;
}
.smcount_button_start.started {
	position: absolute;
	left: 470px;
	top: 50px;
	text-align: center;
    font-size: 24px;
    line-height: 110px;
	width: 110px;
	height: 110px;
	border-radius: 50%;
}
/* キャンバス */
.smcount_canvas {
	position: relative;
	display: inline-block;
    left: 0px;
    top: 0px;
    margin: 90px 0 -10px;
    width: 260px;
    height: 260px;
    border-radius: 50%;
	background: rgba(255, 255, 255, 0);
}
/* Wave数ラッパー */
.smcount_wave_wrapper {
    margin: 20px 0 0;
	position: relative;
	left: 160px;
	top: 0px;
	width: 300px;
	height: 80px;
}
/* Wave数 */
.smcount_wave {
    position: absolute;
    left: 30px;
    top: 30px;
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    width: 150px;
}
.smcount_wave_span {
	font-size: 40px;
}
/* 残り秒数 */
.smcount_sec {
    position: absolute;
    left: 150px;
    top: 0px;
    text-align: right;
    font-size: 70px;
    line-height: 70px;
    width: 150px;
}
/* デバッグエリア */
.smcount_debug {
    position: absolute;
    left: 320px;
    top: 650px;
    text-align: right;
    width: 300px;
}
/* セッティングラッパー */
.smcount_setting_wrapper {
    margin: 25px 0 0;
	position: relative;
	left: 70px;
	top: 0px;
	width: 500px;
	height: 210px;
	background: rgba(255, 255, 255, 0)
}
.smcount_setting_item {
	position :relative;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	height: 68px;
}
.smcount_setting_item:first-child {
	border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.smcount_setting_item p {
	position: absolute;
	left: 0px;
    top: 20px;
	font-size: 20px;
}
.smcount_wrapper .input_st+label {
    top: 10px;
}
.smcount_wrapper .input_st+label p {
	font-size: 20px;
    left: -400px;
    top: -8px;
    text-align: left;
}

.smcount_setting_button_wrapper {
	position: absolute;
	width: 500px;
	text-align: right;
}

.smcount_setting_button {
	display: inline-block;
	margin-left: 8px;
	width: 96px;
	height: 48px;
	border-radius: 24px;
	background: #3498db;
	position: relative;
	top: 8px;
	line-height: 48px;
	text-align: center;
	-webkit-transition: all .2s;
	transition: all .2s;
	overflow: hidden;
	cursor: pointer;
	transform: scale(1);
	opacity: 1;
}
.smcount_setting_button.no_select {
	opacity: 0.5;
	transform: scale(0.8);
	cursor: pointer;
}
.smcount_setting_norma {
	cursor: initial;
	font-size: 20px;
	background: #da5414;
}
.smcount_setting_volume {
	transform: scale(0.8);
}
.smcount_setting_volume.smcount_button_active {
	transform: scale(0.9);
}
.smcount_setting_volume_shitei {
	transform: scale(1);
	width: 66px;
	margin-left: 8px;
}
.smcount_setting_volume_shitei.smcount_button_active {
	transform: scale(1.1);
	width: 66px;
	margin-left: 8px;
}
.smcount_setting_shitei.selected {
}
.smcount_setting_norma_span,
.smcount_setting_volume_span {
	color: Orange;
}
/* hidden */
.smcount_button_kasoku.prev.smcount_hidden {
    transform: scale(0) rotate(180deg);
}
.smcount_button.smcount_hidden {
	transform: scale(0);
}
.smcount_hidden {
	transform: scale(0);
}

/* トランスレートボタン */
.smcount_translate {
    position: absolute;
    top: 260px;
    text-align: center;
    font-size: 24px;
    line-height: 80px;
    width: 60px;
    height: 300px;
    border-radius: 0;
    background: none;
    color: #5f1001;
    background-size: 30px;
    background-repeat: no-repeat;
    opacity: 0.6;
}
.translate_right {
	border-right: 4px solid white;
    background-position: 30px center;
    background-image: url(./images/smcount_next.png);
	left: 576px;
}
.translate_left {
	border-left: 4px solid white;
    background-position: 0px center;
    background-image: url(./images/smcount_prev.png);
	left: 640px;
}



.ui-draggable-handle {
	cursor: pointer;
}





.sttimer_test {
	background: blue;
	color: white;
	position: fixed;
	left: 0;
	top: 0;
	width: 500px;
	height: 500px;
	font-size: 20px;
}











/*          */
/* 設定画面 */
/*          */

/* 設定画面のラッパー */
.learn_setting_wrapper {
	width: 100%;
	height: 100%;
    color: white;
    font-size: 28px;
    font-weight: bold;
    box-sizing: border-box;
    padding: 50px;
    padding-top: 250px;
    font-family: メイリオ, sans-serif;
}
	/* inputボタン */
	.learn_setting_wrapper input[type=button] {
		margin-top: 30px;
		cursor: pointer;
	    border-radius: 0;   
	    background: -moz-linear-gradient(top, #FFF 0%, #EEE);
	    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE));
	    border: 1px solid #DDD;
	    color: #111;
	    padding: 5px 30px;
	    border-radius: 3px;
	    font-size: 18px;
		border-radius: 20px;
	}
	.learn_setting_wrapper input[type=button]:hover {
		background: -moz-linear-gradient(top, #EFEFEF 0%, #EEE);
		background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#EEE));
	}
	.learn_setting_wrapper input[type=button]:active {
		background: #DDD;;
	}
	.learn_setting_wrapper input[type=button]:focus {
		outline: 0;
	}
	/* inputボタン */
	.learn_setting_wrapper h2 {
	    font-size: 34px;
	    font-weight: bold;
	    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
	    padding: 0;
	    margin: 0;
	    line-height: 34px;
	    padding-bottom: 2px;
	}
	/* 設定項目 */
	.learn_setting_item {
		display: block;
		position: relative;
	    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
	    height: 70px;
	}
		.learn_setting_item_title {
			display: inline-block;
		    position: absolute;
		    bottom: 8px;
		    font-size: 22px;
		    line-height: 22px;
		}
		.learn_setting_item_prof {
		    display: inline-block;
		    position: absolute;
		    bottom: 8px;
		    right: 120px;
		    line-height: 22px;
		    font-size: 22px;
		    width: 320px;
		    text-align: right;
		}
	/* 変更ボタン */
	.learn_setting_change {
	    position: absolute;
	    bottom: 4px;
	    right: 0px;
	}
	/* パスワード入力ボタンのラッパー */
	.goto_password_wrapper {
	    width: 540px;
	    text-align: center;
	    position: absolute;
	    bottom: 180px;
	}





/* ラジオボタン */
.radio_input{
	display: none;
}
.radio_input + label{
	cursor: pointer;
	padding-left: 20px;
	position:relative;
	margin-right: 20px;
	display: block;
}
.radio_input + label::before{
	cursor: pointer;
	content: "";
	display: block;
	position: absolute;
	top: 10px;
	left: -16px;
	width: 26px;
	height: 26px;
	border: 1px solid #999;
	border-radius: 50%;
}
.radio_input:checked + label::before{
	border: 1px solid #ff9461;
}
.radio_input:checked + label{
	color: #ff9461;
}
.radio_input:checked + label::after{
	cursor: pointer;
	content: "";
	display: block;
	position: absolute;
	top: 15px;
	left: -11px;
	width: 18px;
	height: 18px;
	background: #ff9461;
	border-radius: 50%;
}






/* パスワード入力画面 */
.input_password_wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	transform: scale(1);
	opacity: 1;
	z-index:100;
}
.input_password_wrapper.setting_hidden {
	display: none;
}
.input_password_wrapper.setting_hidden .input_password_outer {
	opacity: 0;
}
.input_password_wrapper.setting_hidden .input_password_inner {
	transform: scale(1.1);
	opacity: 0;
}
/* アウター */
.input_password_outer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    background: #4a2a2a;
	opacity: 0.75;
	z-index: 10;
	-webkit-transition: all .3s;
	transition: all .3s;
}
/* インナー */
.input_password_inner {
	z-index: 20;
	position: absolute;
	top: 300px;
	left: 0;
	width: 100%;
	text-align: center;
	font-family: メイリオ, sans-serif;
	transform: scale(1);
	-webkit-transition: all .3s;
	transition: all .3s;
}
	.input_password_inner p {
		font-size: 20px;
		color: white;
	}
	/* input テキスト */
	.input_password_inner .input_text {
		margin-top: 30px;
		cursor: pointer;
		padding: 0.8em;
		outline: none;
		border: 1px solid #DDD;
		border-radius: 3px;
		font-size: 22px;
	    width: 280px;
	}
	.input_password_inner .input_text:focus {
		box-shadow: 0 0 7px #db3434;
		border: 1px solid #db3434;
	}
	/* input ボタン */
	.input_password_inner .input_ok {
		margin-top: 30px;
		cursor: pointer;
	    border-radius: 0;   
	    background: -moz-linear-gradient(top, #FFF 0%, #EEE);
	    background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE));
	    border: 1px solid #DDD;
	    color: #111;
	    padding: 10px 30px;
	    border-radius: 3px;
	    font-size: 18px;
	}
	.input_password_inner .input_ok:hover {
	    background: -moz-linear-gradient(top, #EFEFEF 0%, #EEE);
	    background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#EEE));
	}
	.input_password_inner .input_ok:active {
		background: #DDD;;
	}
	.input_password_inner .input_ok:focus {
		outline: 0;
	}






/* アラートラッパー */
.learn_setting_wrapper .alert_wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	transform: scale(1);
	opacity: 1;
	z-index:100;
}

.learn_setting_wrapper .alert_wrapper.setting_hidden {
	display: none;
}
.alert_wrapper.setting_hidden .alert_outer {
	opacity: 0;
}
.alert_wrapper.setting_hidden .alert_inner {
	transform: scale(0.9);
	opacity: 0;
}
/* アウター */
.alert_wrapper .alert_outer {
	-webkit-transition: all .3s;
	transition: all .3s;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    background: #4a2a2a;
	opacity: 0.75;
	z-index: 10;
}
/* インナー */
.alert_wrapper .alert_inner {
	transform: scale(1);
	-webkit-transition: all .3s;
	transition: all .3s;
    z-index: 20;
    position: absolute;
    top: 300px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: White;
    color: #555;
    width: 420px;
    height: 240px;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
	box-sizing: border-box;
	padding-top: 40px;
	padding-left: 20px;
	padding-right: 20px;
}

/* ラジオボタンVer. */
.radio_area {
	display: inline-block;
}
.alert_wrapper_radio .alert_inner {
	text-align: left;
	padding-left: 95px;
	font-size: 24px;
	line-height: 52px;
	height: 500px;
}
	.alert_inner p {
		z-index: 10;
    	position: relative;
	}
	.alert_inner b {
		color: #ff6000;
	}
	/* input ボタン */
	.alert_inner input.input_ok {
		margin-top: 30px;
		cursor: pointer;
	    border-radius: 0;
	    background: #ff9461;
	    border: none;
	    border-radius: 5px;
	    color: #111;
	    padding: 10px 30px;
	    border-radius: 3px;
	    position: absolute;
		width: 130px;
		left: 145px;
		color: White;
		font-weight: bold;
	    font-size: 18px;
		z-index: 20;
		bottom: 20px;
	}
	.alert_inner input.input_ok:hover {
	    background: #ffa67b;
	}
	.alert_inner input.input_ok:active {
	    background: #dc7a4a;
	}
	.alert_inner input.input_ok:focus {
		outline: 0;
	}











/*             */
/* Marty Sheet */
/*             */
.marty_sheet {
	width: 640px;
	position: absolute;
	left: 0;
	top 0;
	color: #FFF;
	height: 960px;
	font-weight: bold;
}
	.marty_sheet .controler {
		position: absolute;
		top: 670px;
		left: 0px;
	}
		.marty_sheet .controler .page_buttons {
			position: absolute;
			left: 0;
			top: 0;
			width: 640px;
			border-radius: 30px;
			overflow: hidden;
		}
		.marty_sheet .controler .stage_buttons {
			position: absolute;
			left: 0;
			top: 80px;
			width: 640px;
			border-radius: 30px;
			overflow: hidden;
		}
			.marty_sheet .controler .page_buttons .button {
				width: 320px;
				font-size: 17px;
				font-weight: bold;
			}
			.marty_sheet .controler .stage_buttons .button {
				width: 128px;
				font-size: 17px;
			}
			.marty_sheet .controler .button {
				cursor: pointer;
				display: inline-block;
				color: #cbb;
				background: #660f0f url(./images/ikaling_bg_pattern_03.png) 50%;
				background-size: 80px 80px;
				text-align: center;
				height: 60px;
				line-height: 60px;
			}
			.marty_sheet .controler .selected {
				color: #fff;
				background: #c42323 url(./images/ikaling_bg_pattern_03.png) 50%;
			}
		
	.marty_sheet h2 {
		padding: 10px 0;
		width: 640px;
		color: #39e464;
	    background: #191919 url(./images/ikaling_bg_pattern_02.png) 50%;
	    background-size: 80px 80px;
		text-align: center;
		font-weight: bold;
    	font-size: 24px;
	}

	.marty_sheet .score_card {
		font-weight: bold;
		border-radius: 40px;
		overflow: hidden;
		font-size: 22px;
		margin: 20px 50px;
		width: 540px;
		
	}

		.marty_sheet .score_card_header {
			padding: 20px 0 5px;
		    color: #ff7500;
		    background: #191919 url(./images/ikaling_bg_pattern_03.png) 50%;
		    background-size: 80px 80px;
		    text-shadow: 1px 1px 0 #000;
		    margin-bottom: 0;
		    text-align: center;
		}

		.marty_sheet table {
			border-collapse: collapse;
			margin-top: 0;
			width: 100%;
			background: #d6e200 url(./images/ikaling_bg_pattern_03.png) 50%;
		    background-size: 40px 40px;
		    color: #000;
			text-align: center;
		}

		.marty_sheet td,
		.marty_sheet th {
			padding: 4px;
			font-weight: bold;
			text-align: center;
		}
		.marty_sheet th {
		    text-shadow: 1px 1px 1px #ff7500;
		}

		.marty_sheet tr,
		.marty_sheet thead {
			border-bottom: 2px dashed rgba(0,0,0,.3);
		}
		.marty_sheet tr:last-child {
			border-bottom: none;
		}


@font-face {
    font-family: Splatoon1;
    src: url(./fonts/s1kanji.woff2) format("woff2"), url(./fonts/s1kanji.woff) format("woff")
}
@font-face {
    font-family: Splatoon1;
    src: url(./fonts/s1kana.woff2) format("woff2"), url(./fonts/s1kana.woff) format("woff")
}
@font-face {
    font-family: Splatoon2;
    src: url(./fonts/s2kanji.woff2) format("woff2"), url(./fonts/s2kanji.woff) format("woff")
}
@font-face {
    font-family: Splatoon2;
    src: url(./fonts/s2kana.woff2) format("woff2"), url(./fonts/s2kana.woff) format("woff")
}

.input_rotation_no {
    width: 100px;
    height: 40px;
    font-weight: bold;
    font-size: 30px;
    margin: 15px 5px;
    text-align: center;
}
.input_rotation_no_form {
    font-size: 30px;	
}
.input_rotation_no_form img {
    width: 35px;
    transform: translateY(20px);
    margin: 0 24px;
    padding: 10px 21px;
    cursor: pointer;
}