body, div, p {
	margin: 0;
	padding: 0;
}
body {
	background-color: black;
	color: white;
	overflow: hidden;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
#main {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 640px;
	height: 800px;
	transform: scale(1);
}
#main, #main p {
	text-shadow: 0px 0px 10px #670;
}
#bg {
	background-color: #444;
	background-image: url(./img/bg.jpg);
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: 1000px 1000px;
	background-position: top center;
	background-repeat: no-repeat;
	filter: blur(8px);
}
#mask {
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.st_eta {
	position: absolute;
	top: 90px;
	left: 0px;
	width: 640px;
	margin: 0;
	padding: 0;
	color: white;
	font-family: メイリオ, sans-serif;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}
	.st_eta_canvas {
		margin-top: 50px;
		display: inline-block;
	}
	.st_eta_description {
		font-size: 20px;
	}
	.st_eta_count {
		font-size: 50px;
		margin-top: 10px;
	}
	.st_eta_correction {
		font-size: 16px;
		margin: 18px 0;
	}
	.st_eta_sound_desc {
		margin-top: 45px;
		display: none;
		margin: 18px 0;
		color: #998310;
	}
	.credit_emaame {
		position: absolute;
		top: 570px;
		left: 0px;
		width: 640px;
		font-size: 16px;
		opacity: 0.6;
	}
		.credit_emaame a {
			color: white;
			text-decoration: none;
		}
	.input_st_wrapper {
		position: absolute;
		top: 400px;
		left: 0px;
	    text-shadow: none;
	}
		.input_st_item {
			-ms-user-select: none;
			-moz-user-select: -moz-none;
			-khtml-user-select: none;
			-webkit-user-select: none;
			user-select: none;
			margin: 0;
			padding: 10px 0;
			position: relative;
			left: 70px;
			width: 500px;
			border-bottom: 1px solid rgba(255, 255, 255, 0.4);
			text-align: left;
		}
		.input_st_item:first-child {
			border-top: 1px solid rgba(255, 255, 255, 0.4);
		}
			.input_st {
				display: none;
				font-family: Arial, sans-serif;
				font-size: 18px;
			}
			.input_st+label,
			.input_st+label::before,
			.input_st+label::after {
				-webkit-transition: all .2s;
				transition: all .2s;
			}
			.input_st+label {
				display: block;
				position: relative;
				left: 400px;
				width: 100px;
				height: 48px;
				border-radius: 24px;
				cursor: pointer;
			}
			.input_st+label::before {
				display: block;
				content: attr(data-off-label);
				position: absolute;
				top: 14px;
				right: 7px;
				color: #fff;
				font-family: Arial, sans-serif;
				font-size: 18px;
			}
			.input_st+label::after {
				content: '';
				position: absolute;
				top: 4px;
				left: 4px;
				width: 40px;
				height: 40px;
				background-color: #fff;
				border-radius: 50%;
			}
			.input_st:checked+label::before {
				content: attr(data-on-label);
				left: 7px;
				right: auto;
				color: #fff;
			}
			.input_st:checked+label::after {
				left: 56px;
				background-color: #f7f7f7;
			}
			.input_st+label {
				background-color: #eee;
			}
			.input_st+label::before {
				color: #aaa;
			}
			.input_st:checked+label {
				background-color: #998310;
			}
			.input_st:checked+label::before {
			  color: #fff;
			}
				.input_st+label .button {
					z-index: 10;
					display: block;
					width: 60px;
					height: 40px;
					border-radius: 20px;
					background: #998310;
					position: absolute;
					top: 4px;
					line-height: 40px;
					text-align: center;
					-webkit-transition: all .2s;
					transition: all .2s;
					overflow: hidden;
					cursor: pointer;
					transform: scale(1);
				}
				.input_st+label .button_active {
					transform: scale(1.1);
				}
				.input_st+label .sound_test_button {
					width: 100px;
					left: -150px;
				}
				.input_st+label .plus_button {
					left: -90px;
				}
				.input_st+label .minus_button {
					left: -170px;
				}
				.input_st+label .hidden_button {
					transform: scale(0);
				}
				.input_st+label p {
					position: absolute;
					top: -6px;
					left: -400px;
					width: 200px;
					z-index: 0;
					margin: 18px 0;
				}
	.st_setting_item {
		position :relative;
		border-bottom: 1px solid rgba(255, 255, 255, 0.4);
		height: 68px;
		left: 70px;
	}
	.st_setting_item:first-child {
		border-top: 1px solid rgba(255, 255, 255, 0.4);
	}
		.st_setting_item p {
			position: absolute;
			left: 0px;
		    top: 20px;
			font-size: 20px;
		}
		.st_setting_button_wrapper {
			position: absolute;
			width: 500px;
			text-align: right;
		}
			.st_setting_button {
				display: inline-block;
				margin-left: 8px;
				width: 96px;
				height: 48px;
				border-radius: 24px;
				background: #998310;
				position: relative;
				top: 8px;
				line-height: 48px;
				text-align: center;
				-webkit-transition: all .2s;
				transition: all .2s;
				overflow: hidden;
				cursor: pointer;
				transform: scale(1);
				opacity: 1;
			}
			.st_setting_volume {
				transform: scale(0.8);
			}
			.st_setting_volume.button_active {
				transform: scale(0.9);
			}
			.st_setting_volume_span {
				color: #998310;
			}
			.st_hidden {
				transform: scale(0);
			}


#mask_wrapper {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	z-index: 99999999;
	pointer-events: none;
	transition: all .5s linear;
}
	.mask_black {
		z-index: 1;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: black;
		transition: clip-path 1.5s ease-in-out;
	}
	#mask_white {
		z-index: 0;
		opacity: 1;
		background-color: white;
		transition: opacity 1.5s ease-in-out;
	}
	#mask_obake {
		position: fixed;
		left: 0;
		top: 0;
		width: 800px;
		height: 800px;
		transition: transform 1.5s ease-in-out;
		transform-origin: center center;
		transform: scale(0) rotate(0deg);
	}
	#mask_black_top {
		clip-path: polygon(0% -100%, 100% -100%, 100% 50%, 0% 50%);
	}

	#mask_black_left {
		clip-path: polygon(-100% 0%, 50% 0%, 50% 100%, -100% 100%);
	}
	#mask_black_right {
		clip-path: polygon(50% 0%, 200% 0%, 200% 100%, 50% 100%);
	}

	#mask_black_bottom {
		clip-path: polygon(0% 50%, 100% 50%, 100% 200%, 0% 200%);
	}