body {
	background: White;
	color: #666;
}
#main {
	background-color: #591A09;
	background-image: url(../data/bgimage/red_bg.png);
	color: White;
	font-family: メイリオ;
	font-weight: bold;
	font-size: 18px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 50px auto;
	padding: 0;
	width: 640px;
	height: 960px;
	text-align: center;
	transform: scale(1);
	box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
	box-sizing: border-box;
}
.salmon_rotation_title {
	font-size: 30px;
	text-align: left;
	padding: 0px 24px;
	margin: 0;
	color: #73DD73;
	text-shadow: black 4px 4px 4px;
}
.salmon_rotation {
	position: relative;
	margin: 10px 20px 40px;
	padding: 0;
	width: 600px;
	height: 272px;
	background-image: url(img/rotation_bg.png);
	background-size: 100%;
	background-repeat: none;
	border-radius: 35px;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 5px;
}
.salmon_rotation * {
	padding: 0;
	margin: 0;
}
.salmon_rotation_time {
	position: absolute;
	top: 20px;
	left: 92px;
	font-size: 26px;
}
.salmon_rotation_stage {
	width: 220px;
	height: 123px;
	position: absolute;
	top: 90px;
	left: 32px;
	border-radius: 20px;
}
.salmon_rotation_stage_name {
	position: absolute;
	top: 224px;
	left: 32px;
	text-align: center;
	width: 220px;
	font-size: 16px;
}
.salmon_rotation_weapon_title {
	position: absolute;
	top: 100px;
	left: 277px;
	font-size: 20px;
}
.salmon_rotation_weapons {
	position: absolute;
	top: 140px;
	left: 277px;
}
.salmon_rotation_weapons img {
	width: 68px;
	height: 68px;
	margin-right: 5px;
}















.weapon_menu {
	position: absolute;
    top: 15px;
    left: 65px;
    width: 510px;
    height: 84px;
    box-sizing: border-box;
    padding: 8px 20px;
	background-image: url(../data/bgimage/shimashima.png);
	background-repeat: no-repeat;
	border-radius: 20px;
}
.weapon_menu img {
    width: 66px;
    height: 66px;
    cursor: pointer;
    margin: 0px 13px;
}
.weapon_comment_wrapper {
	position: absolute;
    top: 465px;
    left: 65px;
    width: 510px;
    height: 340px;
    box-sizing: border-box;
    padding: 14px 30px;
	background-image: url(../data/bgimage/shimashima.png);
	background-repeat: no-repeat;
	border-radius: 20px;
    text-align: left;
    font-weight: normal;
    font-size: 18px;
    color: White;
}
.weapon_comment_a {
	display: inline-block;
}
.weapon_comment_b {
    font-size: 80%;
    font-weight: bold;
    color: orange;
}
.weapon_comment_c {
	
}
.weapon_comment_wrapper h1 {
    text-align: center;
    font-weight: bold;
    margin: 0 0 8px;
    padding: 0;
    font-size: 24px;
    color: Orange;
}
.weapon_comment_wrapper p {
    margin: 0;
    padding: 0;
}
.canvas_chart_weapon_wrapper {
	position: absolute;
	top: 115px;
	left: 295px;
	width: 320px;
	height: 320px;
	background-image: url(../tyrano/images/canvas_chart_bg.png);
	background-size: 100%;
	background-repeat: no-repeat;
	
	animation-name: myFadeIn;
	animation-duration: 1.5s;
	animation-fill-mode: both;
}
.canvas_chart_weapon {
	width: 100%;
	height: 100%;
	display: block;
	filter: drop-shadow(4px 4px 6px rgba(0,0,0,0.5));
}

.weapon_image {
	position: absolute;
	top: 160px;
	left: 70px;
	display: inline-block;
	width: 180px;
	height: 180px;
	background-size: 100%;
	background-repeat: no-repeat;
	-webkit-box-reflect: below 2px -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(0.5, transparent), to(rgba(0,0,0,0.4)));
}
.weapon_image_shadow {
	position: absolute;
	display: block;
	width: 100%;
	top: 99%;
}


