body {
	background: White;
	color: #666;
}
#main {
	background-color: #591A09;
	background-image: url(../data/bgimage/red_bg.png);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 50px auto;
	padding: 0;
	width: 640px;
	height: 960px;
	transform: scale(1);
	box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
	box-sizing: border-box;
}






.st_eta {
	position: absolute;
	top: 90px;
	left: 0px;
	width: 640px;
	margin: 0;
	padding: 0;
	color: white;
	font-family: メイリオ, sans-serif;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
}
.st_eta_canvas {
	margin-top: 50px;
	display: inline-block;
}
.st_eta_description {
	font-size: 20px;
}
.st_eta_count {
	font-size: 50px;
	margin-top: 10px;
}
.st_eta_correction {
	font-size: 16px;
}
.st_eta_sound_desc {
	margin-top: 45px;
	display: none;
	color: Orange;
}
.st_eta_next {
}
.st_friend_mode {
}
.credit_emaame {
	position: absolute;
	top: 700px;
	left: 0px;
	width: 640px;
	opacity: 0.7;
}
.credit_emaame a {
	color: white;
	text-decoration: none;
}



.input_st_wrapper {
	position: absolute;
	top: 400px;
	left: 0px;
}
.input_st_item:first-child {
	border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.input_st_item {
	-ms-user-select: none; /* IE 10+ */
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	margin: 0;
	padding: 10px 0;
	position: relative;
	left: 70px;
	width: 500px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	text-align: left;
}
/* common style */

.input_st+label .button {
  z-index: 10;
  display: block;
  width: 60px;
  height: 40px;
  border-radius: 20px;
  background: #3498db;
  position: absolute;
  top: 4px;
  line-height: 40px;
  text-align: center;
  -webkit-transition: all .2s;
  transition: all .2s;
  overflow: hidden;
}
.input_st+label .sound_test_button {
  width: 100px;
  left: -150px;
}
.input_st+label .plus_button {
  left: -170px;
}
.input_st+label .minus_button {
  left: -90px;
}
.input_st+label .hidden_button {
  transform: scale(0);
}

.input_st {
  display: none;
	font-family: Arial, sans-serif;
	font-size: 18px;
}
.input_st+label,
.input_st+label::before,
.input_st+label::after {
  -webkit-transition: all .2s;
  transition: all .2s;
}
.input_st+label {
  display: block;
  position: relative;
  left: 400px;
  width: 100px;
  height: 48px;
  border-radius: 24px;
  cursor: pointer;
}
.input_st+label p {
  position: absolute;
  top: -6px;
  left: -400px;
  width: 200px;
  z-index: 0;
}
.input_st+label::before {
  display: block;
  content: attr(data-off-label);
  position: absolute;
  top: 14px;
  right: 7px;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 18px;
}
.input_st+label::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
}
.input_st:checked+label::before {
  content: attr(data-on-label);
  left: 7px;
  right: auto;
  color: #fff;
}
.input_st:checked+label::after {
  left: 56px;
  background-color: #f7f7f7;
}


/* demo01 */
.input_st+label {
  background-color: #eee;
}
.input_st+label::before {
  color: #aaa;
}
.input_st:checked+label {
  background-color: #3498db;
}
.input_st:checked+label::before {
  color: #fff;
}